* {
    text-align: center;
}
.canvas {
    margin: auto;
    width: 50%;
    padding :3%;
}

canvas {
    width: 100%;
    border: 25px solid #595959;
    background-color: black;
    }

    .buttonReload {
        margin-top:2%;

        position: absolute;
        width :15%;
        left:42.5%;
        height: 4%;

        font-size: 20px;
        background-color: black;
        color: white;
        border-color: white;
        border-style: solid;

    }
